.container{
  .title{
    margin-top: 20px;
  }
  .by{
    margin-top: 5px;
    font-weight: bold;
  }
  .date{
    margin-top: 5px;
  }
  .descendants{
    margin-top: 20px;
  }
  .button{
    margin-top: 20px;
  }
}